body{
    margin: 0px;
    background-color: rgb(169, 226, 226);
}
img{
    width: 100%;
}
.text {
    font-size: 1.145em;
}

.text-1 {
    font-size: 1.145em;
    margin-bottom: 100px;
}

.lxgw-wenkai-tc-regular {
    font-weight: 400;
    font-style: normal;
}



h1 {
    font-family: "LXGW WenKai TC", cursive;
    text-align: center;
    text-shadow: 4px 4px 0px #a3a3a3, 7px 7px 0px rgba(0, 0, 0, 0.2);
    /* font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
        "AppleGothic", sans-serif; */
    padding-top: 20px;
    padding-bottom: 50px;
}

body{
    background-color: rgb(196, 191, 198);
}